*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
/* ---- BARRE NAV ---- */
nav{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    min-width: 1910px;
    background-color:#97aa8e;
}

.list_cat li {
    position: relative;

}

/* ---- LOGO ---- */
.logo {
    width:60px;
}

/* ---- CATÉGORIE ---- */
#category_container{
    display: flex;
    width: 150px;  
    height: 35px;
    border: 1px solid white;
    border-radius: 3px;
    background-color:#97aa8e;
    justify-content: space-around;
    padding:15px;
}

.category{
    display: flex;
    align-items: center;
    color:white;
}

.catbtn1 img {
    width:15px;
    height:15px;
    cursor: pointer;
}

.catbtn1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.list_cat, #list {
    list-style: none;
}
#category_container{
    display: flex;
    width: 150px;  
    height: 35px;
    border: 1px solid white;
    border-radius: 3px;
    background-color:#97aa8e;
    justify-content: space-around;
    padding:15px;
}

#category_container:hover{
    background-color:#889b7e;
}

.category{
    display: flex;
    align-items: center;
    color:white;
}

#list{
    background-color: #97aa8e;
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
}

#list li {
    padding: 10px;
    text-decoration: none;
}

#list li a {
    text-decoration: none;
    color:white;
}

#list.active{
    display: block;
}

#list li:hover{
    background-color:#889b7e;
}

/* ---- BARRE DE RECHERCHE ---- */
.search_container {
    display: flex;
}

.search_container .search {
    width: 365px;  
    height: 35px;
    border: 1px solid white;
    border-radius: 3px;
    padding-left: 10px;
}

.searchbtn img{
    width:25px;
    height:25px;
    cursor: pointer;
}

.searchbtn{
    display: flex;
    align-items: center;
    padding-left: 10px;
}   

/* ---- LIEN BARRE NAV ---- */
.nav_links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav_links li{
    list-style: none;
    cursor: pointer;
}

.nav_links .text{
    text-decoration: none;
    color: white;
}

.nav_links #icon{
    width:30px;
    height: 30px;
}

/* ---- BURGER MENU ---- */
.burger_menu{
    display: none;
}

.burger_menu div{
    width:25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

/* ---- RESPONSIVE ---- */

@media screen and (min-width:768px){
    .nav_links{
        width:25%;
    }
    .nav_links .text, .list_cat_hidden {
        display:none;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x:hidden;
    }
    #category_container{
        display:none;
    }
    .show_cat{
        display: flex;
        align-items: center;
    }
    .show_cat img {
        width:15px;
        height:15px;
        margin-left: 10px;
        cursor: pointer; 
    }
    #category_container2{
        display: flex;
    }
    
    .catbtn2{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .nav_links{
        position: absolute;
        right: 0px;
        height:60vh;
        top: 12vh;
        background-color: #97aa8e;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav_links li{
        opacity: 0
    }

    .nav_links #icon{
        display:none;
    }

    .burger_menu{
        display: block;
    }
}

/* ---- BURGER MENU ACTIF ---- */
.nav-active{
    transform: translateX(0%);
}

.toggle #ligne1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle #ligne2{
    opacity: 0;
}
.toggle #ligne3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinksAnimation{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and ( min-width: 1200px ) {
	
}
@media screen and ( min-width: 601px ) {
	/* menu burger */
	header > nav > img { 
		display: none;
	}

	/* Liste */
	header > nav > ul {
		height: 100%;
	}
	header > nav > ul li:not( :last-child ) {
		margin-right: 1.5em;
	}
	header > nav > ul a {
		padding: .3em 0;
	}
}

@media screen and ( max-width: 600px ) {
	/* menu burger */
	header > nav > img { 
		cursor: pointer;
		padding: var( --navbar-padding ) 0;
	}
    header > nav > ul {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		justify-content: space-between;
		padding: var( --navbar-padding ) var( --global-horizontal-padding );
		box-sizing: border-box;
		background-color: #fff;
		border-bottom: 1px solid var( --border-color );
		transition: transform .4s ease;
	}
	header > nav:not( .opened ) > ul {
		transform: translateX( 100% );
	}
}
